<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1006233367684-a1c418u424fh1qr55fuk3761dtiq1ru5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1006233367684-a1c418u424fh1qr55fuk3761dtiq1ru5</string>
	<key>API_KEY</key>
	<string>AIzaSyCnPQLCbvnd-Bn8KlUgCYK9aPb-jGlBMS0</string>
	<key>GCM_SENDER_ID</key>
	<string>1006233367684</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.ionic.paifhb</string>
	<key>PROJECT_ID</key>
	<string>paifhb</string>
	<key>STORAGE_BUCKET</key>
	<string>paifhb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1006233367684:ios:5b6f72ba232cbbeec27ed1</string>
	<key>DATABASE_URL</key>
	<string>https://paifhb.firebaseio.com</string>
</dict>
</plist>