<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="lessons">
      <ion-icon name="book"></ion-icon>
      <ion-label>Learn</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="code-editor">
      <ion-icon name="code-slash-outline"></ion-icon>
      <ion-label>Code Editor</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about-tab">
      <ion-icon name="information-outline"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
