.custom-skeleton ion-skeleton-text {
    line-height: 13px;
  }
  
.custom-skeleton ion-skeleton-text:last-child {
  margin-bottom: 5px;
}

ion-slides {
  height: 100%;
  //display: block; 
}

.class-container {
  overflow-y: scroll;
}

.swiper-slide {
  display: block;
}

ion-textarea, .ion-text-left pre {
    font-family: 'Ubuntu Mono', monospace;
}