<link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap" rel="stylesheet">
<ion-slides #slidesTag>
    <ion-slide>
        <form (ngSubmit)="onSubmit()">
            <ion-card>
                <ion-item>
                    <ion-label>Compiler</ion-label>
                    <ion-select interface="action-sheet"
                                [(ngModel)]="editor.compiler"
                                name="code_compiler"
                                (ionChange)="onSelectChange()"
                                #ionSelect>
                        <ion-select-option *ngFor="let i of editorInput.languages"
                                           [value]="i.language">
                            {{ caps_first_word(i.language) }}
                        </ion-select-option>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label position="floating" color="primary">Code</ion-label>
                    <ion-textarea autofocus="true"
                                  rows="12"
                                  [(ngModel)]="editor.code_content"
                                  name="code_content"
                                  (ionBlur)="onCodeUpdate()"
                                  required></ion-textarea>
                </ion-item>

                <ion-item>
                    <ion-label>stdIn</ion-label>
                    <ion-toggle [(ngModel)]="editor.add_input"
                                name="input-toggle"></ion-toggle>
                </ion-item>

                <ion-item *ngIf="editor.add_input">
                    <ion-label position="floating" color="primary">Input</ion-label>
                    <ion-textarea rows="5"
                                  [(ngModel)]="editor.code_input"
                                  name="code_input"></ion-textarea>
                </ion-item>
                <ion-card-content>
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-button expand="block"
                                            type="submit"
                                            [disabled]="editor.code_content == '' || submitted || submittedQuiz">
                                    <div *ngIf="!submitted">
                                        Compile and Run
                                    </div>

                                    <ion-spinner name="crescent" *ngIf="submitted"></ion-spinner>
                                </ion-button>
                            </ion-col>
                            <ion-col size="3" size-md="2" size-lg="1">
                                <ion-button expand="block"
                                            (click)="reset()"
                                            [disabled]="submitted">
                                    <ion-icon slot="icon-only" name="refresh-outline"></ion-icon>
                                </ion-button>
                            </ion-col>
                        </ion-row>
                        <ion-row *ngIf="quizmode">
                            <ion-col>
                                <ion-button expand="block"
                                            (click)="onSubmit(true)"
                                            [disabled]="editor.code_content == '' || submitted || submittedQuiz">
                                    <div *ngIf="!submittedQuiz">
                                        Submit Code
                                    </div>
                                    <ion-spinner name="crescent" *ngIf="submittedQuiz"></ion-spinner>
                                </ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card-content>
            </ion-card>
        </form>
    </ion-slide>

    <ion-slide *ngIf="submittedQuiz || submitted || result.language != ''" class="class-container">
        <ion-grid>
            <!-- skeleton text loading-->
            <div *ngIf="submitted || submittedQuiz">
                <ion-row>
                    <ion-col>
                        <ion-item color="medium"></ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="ion-padding custom-skeleton">
                        <ion-skeleton-text animated style="width: 60%;"></ion-skeleton-text>
                        <ion-skeleton-text animated></ion-skeleton-text>
                        <ion-skeleton-text animated style="width: 88%;"></ion-skeleton-text>
                        <ion-skeleton-text animated style="width: 70%;"></ion-skeleton-text>
                        <ion-skeleton-text animated style="width: 60%;"></ion-skeleton-text>
                    </ion-col>
                </ion-row>
            </div>

            <!-- display content -->
            <div *ngIf="result.language != ''">
                <ion-row>
                    <ion-col>
                        <ion-item [color]="
                result.result && result.stderr == '' ? 'success' : 'danger'
              ">
                            <ion-text>
                                {{ result.result && result.stderr == '' ? "Success!" : "Error!" }}
                            </ion-text>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col *ngIf="result.stdout != ''">
                        <ion-card>
                            <ion-card-content>
                                <ion-label position="stacked" color="primary">StdOut</ion-label>
                                <ion-text class="ion-text-left">
                                    <pre>{{ result.stdout }}</pre>
                                </ion-text>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>

                    <ion-col *ngIf="result.stderr != ''">
                        <ion-card>
                            <ion-card-content>
                                <ion-label position="stacked" color="danger">StdErr</ion-label>
                                <ion-text class="ion-text-left">
                                    <pre>{{ result.stderr }}</pre>
                                </ion-text>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </div>
        </ion-grid>
    </ion-slide>
</ion-slides>
