<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-button
        *ngIf="current_slide && code_slide"
        (click)="toggleCodeEditor()"
      >
        <ion-icon slot="start" name="code-slash-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="current_slide && !code_slide" (click)="toggleCode()">
        <ion-icon slot="start" name="arrow-up-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides [options]="slideOpts" #ionslides>
    <ion-slide>
      <app-lesscontent (emitQuiz)="quiz($event)" (emitDemo)="demo($event)">
      </app-lesscontent>
    </ion-slide>
    <ion-slide>
      <app-editor-code
        (pageChange)="codePageChange($event)"
        [defaultEditorInput]="editorInputOptions"
        #code_editor
      >
      </app-editor-code>
    </ion-slide>
  </ion-slides>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="light" (click)="toggleCode()">
      <ion-icon name="code-slash-outline" *ngIf="!is_on_code"></ion-icon>
      <ion-icon name="book" *ngIf="is_on_code"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
