<ion-header [translucent]="true" mode="ios">
  <ion-toolbar>
    <ion-title>
      {{ Title }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" mode="ios">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">{{ Title }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid class="ion-margin">
    <ion-row class="ion-align-items-center" *ngFor="let gridRow of GridData">
      <ion-col
        class="ion-align-self-center ion-text-center"
        *ngFor="let gridCol of gridRow.data"
      >
        <ion-avatar class="ion-align-self-center" s>
          <ion-button color="dark" (click)="lessonNav(gridCol)">
            <ion-icon [name]="gridCol.icon"></ion-icon>
          </ion-button>
          <ion-label>{{ gridCol.title }}</ion-label>
        </ion-avatar>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
