<ion-header [translucent]="true" mode="ios">
  <ion-toolbar>
    <ion-title>
      {{ Title }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-margin">
    <ion-row class="ion-align-self-center" *ngFor="let gridRow of GridData">
      <ion-col
        class="ion-align-items-center ion-text-center"
        *ngFor="let gridCol of gridRow.data"
      >
        <ion-button color="dark" (click)="lessonNav(gridCol)">
        <ion-icon [name]="gridCol.icon"></ion-icon>
        </ion-button> <br />
        <ion-text>{{ gridCol.title }}</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
